.vagrant/
vendor/
config/development.config.php
data/cache/*
data/logs/*
data/portal-db.sql
!data/cache/.gitkeep
docker-compose.yml
docker-scripts/apache/nebraskacloud-org.key
mix-manifest.json
node_modules
package-lock.json
phpunit.xml
simplesamlphp/cert/saml.pem
simplesamlphp/config/config.php
ubuntu-xenial-16.04-cloudimg-console.log
**/.DS_Store
*.lock
.env
*.log
/.idea
/Dockerfile
