.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
docker-compose.yml
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
*.lock
.env
node_modules
package-lock.json
mix-manifest.json
*.log
/.idea
