body {
    background-color: #cccccc;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
/** Header **/
header {
    background-color: #0000ff;
    color: #ffffff;
}
header section {
    height: 60px;
    border-bottom: 1px solid #ffffff;
}
header section #logo {
    background-color: #ffffff;
    height: 55px;
    width: 55px;
    margin-top: 2px;
    margin-left: 2px;
}
header section #account-action {
    color: #inherit;
    margin-top: 17px;
    margin-right: 5px;
    font-size: 1.25em;
}
.navbar {
    background-color: inherit;
    background-image: none;
    box-shadow: none;
    border: none;
    color: inherit;
    height: 30px;
    min-height: 30px;
    padding: 0px;
}
.navbar .navbar-brand {
    color: inherit;
    margin-right: 10px;
}
.navbar-collapse.collapse {
    height: 30px !important;
}
.navbar a, .nav .active a, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    padding: 0px;
    padding-top: 5px;
    background-color: inherit;
    background-image: none;
    box-shadow: none;
}
}
