body {
    background-color: #cccccc;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
/** Header **/
header {
    background-color: #0000ff;
    color: #ffffff;
}
header a, header a:hover {
    color: inherit;
}
header section {
    height: 60px;
    border-bottom: 1px solid #ffffff;
}
header section #brand #logo {
    background-color: #ffffff;
    min-height: 55px;
    max-width: 55px;
    margin-top: 2px;
    margin-left: 2px;
}
header section #brand #brandName {
    color: #inherit;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.5em;
}
header section #account-action {
    color: #inherit;
    margin-top: 17px;
    margin-right: 5px;
    font-size: 1.25em;
}
.navbar {
    background-color: inherit;
    background-image: none;
    box-shadow: none;
    border: none;
    color: inherit;
    height: 30px;
    min-height: 30px;
    padding: 0px;
}
.navbar .navbar-brand {
    color: inherit;
    margin-right: 10px;
}
.navbar-collapse.collapse {
    height: 30px !important;
}
.navbar a, .nav .active a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    padding: 0px;
    padding-top: 5px;
    background-color: inherit;
    background-image: none;
    box-shadow: none;
    color: inherit;
}
.navbar a:hover, .nav a:hover, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
    text-decoration: underline;
}
.nav a {
    margin-right: 10px;
}
/** Application Grid **/
.app-tile {
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    font-size: 9pt;
    color: #000000;
}
.app-tile:hover, .app-tile a:hover {
    text-decoration: none;
}
.app-tile a, .app-tile .app-name {
    display: block;
}
.app-tile img {
    margin-top: 5px;
    height: 90px;
    width: 90px;
}
.app-tile .app-name {
    display: block;
    position: absolute;
    width: 100px;
    height: 12pt;
    background-color: rgba(255,255,255,.8);
    bottom: 0;
    margin-top: -12pt;
    color: #000000;
    text-decoration: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
