/** Header **/
header {
    background-color: var(--color-brand-primary);
    color: var(--color-brand-accent);
}
header a, header a:hover {
    color: inherit;
}
header section {
    height: 60px;
    border-bottom: 1px solid var(--color-brand-accent);
}
header section #brand #logo {
    background-color: var(--color-brand-accent);
    min-height: 55px;
    max-width: 55px;
    margin-top: 2px;
    margin-left: 2px;
}
header section #brand #brandName {
    color: #inherit;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.5em;
}
header section #account-action {
    color: #inherit;
    margin-top: 17px;
    margin-right: 5px;
    font-size: 1.25em;
}

/** Navbar **/

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.navbar-inverse {
    background-color: inherit;
    background-image: none;
    box-shadow: none;
    border: none;
    color: inherit;
    padding: 0px;
    margin-bottom: 10px;
}
.navbar .navbar-brand {
    color: inherit;
    margin-right: 10px;
}
.navbar .container, .navbar .container .navbar-header, .navbar .navbar-brand {
}
.navbar .navbar-toggle, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    border-color: var(--color-brand-accent);
    background-color: inherit;
    border: none;
}
.navbar a, .nav .active a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: inherit;
    background-image: none;
    box-shadow: none;
    color: inherit;
    margin-right: 0px;
}
.navbar a:hover, .nav a:hover, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
    filter: brightness(150%);
    text-decoration: underline;
    background-color: var(--color-brand-primary-lightened);
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    margin-top: -20px;
    background-color: var(--color-brand-primary);
    border-color: var(--color-brand-accent);
}
.nav a {
    margin-right: 10px;
}
